<section class="status">
  <h1 class="status__title"> Buyurtma Holati</h1>

  <div class="status__list">
    <article class="status__card" *ngFor="let o of orders()">
      <h3 class="product">{{ o.productName }}</h3>

      <div class="progressbar">
        <div class="line"></div>
        <div class="steps">
          <div
            class="step"
            *ngFor="let step of steps; let i = index"
            [class.active]="i <= o.currentStep"
          >
            <div class="circle">{{ step.icon }}</div>
            <div class="info">
              <h4>{{ step.label }}</h4>
              <p>{{ step.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
